.portfolio{
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    color: white;
    .first-portfolio{
        margin-top: 30px;
        width: 100%;
        height: 20%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .info{
            color: gray;
            margin-top: 10px;
            font-size: 20px;
        }
        h3{
            margin-top: 10px;
            font-size: 30px;
            font-weight: 400;
        }
    
    }
    .image-Holder{
        margin-top: 30px;
        height: 80%;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}